<div class="server-errors" server-errs></div>
<main ng-view>
  {{{body}}}
</main>


<script type="text/ng-template" id="/campaigns.html">
<header>Campaigns</header>
<ul class="campaigns" style="margin:0;padding:0">
  <li ng-repeat="c in campaigns">
    <table class="table table-striped">
      <tr>
        <th colspan="2">
          <code ng-bind="c.code"></code>
          <h3 ng-bind="c.name"></h3>
          <div style="float:right">
            <time ng-bind="c.start"></time>
            -
            <time ng-bind="c.end"></time>
          </div>
        </th>
      </tr>
      <tr ng-repeat="ad in c.ads">
        <td><b ng-bind="ad.code"></b></td>
        <td style="width:85%"><span ad-img url="ad.img" width="ad.width" dest="ad.url"></span></td>
      </tr>
    </table>
  </li>
</ul>
</script>


<script type="text/ng-template" id="/impressions.html">
<header>Impression report</header>
<div class="filters">
  <select ng-model="data.c" ng-change="refresh()">
    <option value="56f9781c7365645894420ae7">2016 Q2 Heroku Signup</option>
    <option value="56731043c554f496b6e1e217">2015 Q4 Heroku Signup</option>
    <option value="56731043c554f496b6e1e147">2015 Q3 Heroku Signup</option>
  </select>
  <select ng-model="data.s" ng-change="refresh()">
    {{ weekOptions }}
  </select>
</div>

<p class="report-summary report-empty" ng-if="!report">
  Select week to show results ...
</p>
<p class="report-summary" ng-if="report">
  Displaying <span ng-bind="report.ads.length"></span> ads from
  <b ng-bind="report.start"></b> to <b ng-bind="report.end"></b>
</p>
<hr />
<ul class="report" ng-if="report">
  <li ng-repeat="ad in report.ads">
    <h5 ng-bind="ad.code"></h5>
    <div class="clicks">
      <table class="table table-striped log">
        <tr>
          <th>Url</th>
          <th>Clicks</th>
        </tr>
        <tr>
          <th>TOTAL</th>
          <th><span ng-bind="ad.total.clicks"></span></th>
        </tr>
        <tr ng-repeat="c in ad.clicks">
          <td class="url"><span ng-bind="c.url || 'Unknown'"></span></td>
          <td><span ng-bind="c.count"></span></td>
        </tr>
      </table>
    </div>
    <div class="impressions">
      <table class="table table-striped log">
        <tr>
          <th>Url</th>
          <th>Impressions</th>
        </tr>
        <tr>
          <th>TOTAL</th>
          <th><span ng-bind="ad.total.impressions"></span></th>
        </tr>
        <tr ng-repeat="c in ad.impressions">
          <td class="url"><span ng-bind="c.url"></span></td>
          <td><span ng-bind="c.count"></span></td>
        </tr>
      </table>
    </div>
  </li>
</ul>

</script>


<script type="text/ng-template" id="/roi.html">
<header>Campaign ROI report</header>

<div class="roi">

<h3>Heroku Q4(2) Summary</h3>
<table class="table table-striped">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Days</th>
    <th>Spend</th>
    <th>Target</th>
    <th>Delivered</th>
    <th>Clicks</th>
    <th>CPC</th>
    <th>CPM</th>
  </tr>
  <tr>
    <td>2/1/2016</td>
    <td>3/15/2016</td>
    <td>49</td>
    <td>$5000</td>
    <td>500,000</td>
    <td>492,273</td>
    <td>$98.45</td>
    <td>1646</td>
    <td>$0.33</td>
  </tr>
</table>


<h3>Heroku Q4(2) Weekly Performance</h3>

<table class="table table-striped">
  <tr>
    <th>Week</th>
    <th>Campaign</th>
    <th>Tag</th>
    <th>Creative</th>
    <th>Spend</th>
    <th>CRT</th>
    <th>Clicks</th>
    <th>Impressions</th>
  </tr>
  <tr>
    <td>Feb 01-06</td>
    <td>Q4(1)</td>
    <td>java</td>
    <td>900x90.q4.1.signup</td>
    <td>$5.87</td>
    <td>0.00%</td>
    <td>0</td>
    <td>664</td>
  </tr>
  <tr>
    <td>Feb 01-06</td>
    <td>Q4(1)</td>
    <td>php</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 01-06</td>
    <td>Q4(1)</td>
    <td>node.js</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 08-14</td>
    <td>Q4(1)</td>
    <td>java</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 08-14</td>
    <td>Q4(1)</td>
    <td>php</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 08-14</td>
    <td>Q4(1)</td>
    <td>node.js</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 15-21</td>
    <td>Q4(1)</td>
    <td>java</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
          <tr>
    <td>Feb 15-21</td>
    <td>Q4(1)</td>
    <td>php</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 15-21</td>
    <td>Q4(1)</td>
    <td>node.js</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 22-28</td>
    <td>Q4(1)</td>
    <td>java</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 22-28</td>
    <td>Q4(1)</td>
    <td>php</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feb 22-28</td>
    <td>Q4(1)</td>
    <td>node.js</td>
    <td>900x90.q4.1.signup</td>
    <td></td>
    <td>%</td>
    <td></td>
    <td></td>
  </tr>
</table>

</div>

</script>


<script>
  window.pageData = { session: {{{ JSON session }}} }
</script>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/angular-route.min.js"></script>
<script type="text/javascript" src="/js/ang1.js"></script>
